/* 초기화 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #373737;
}
* a {
  color: #373737;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
ol, ul, li {
  list-style: none;
}
input, select, textarea, button {
  outline: none;
  background: none;
}
iframe, video, embed, object {
  max-width: 100%;
}

/* 기본 설정 */
@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'KOTRAHOPE';
}
body {
  background-image: url(../images/bg.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: #bdd7ee;
  background-position: top;
}
