.common-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
  }
  
.common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
  }
  
.common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
  }
  
.common-table-column {
    padding: 10px 5px;
  }

.create {
    height: 100vh;
    padding: 70px;
    background-color: #bdd7ee;
    margin-top: 60px;
}

.create .title {
    font-size: 30px;
}

.create hr {
    border-top: 4px solid #666;
    margin: 20px 30%;
}

/*.create label {
    text-align: left;
    padding: 3px 10px;
    display: inline;
    background-color: #ccc;
    width: 150px;
    margin: 0 auto;
    border: 3px solid #999;
}
*/

label, input {
    display: inline-block !important;
    width: 250px !important;
    margin: 5px auto 5px auto;
    padding: 3px 3px;
}

.create label {
    text-align: left;
    background-color: #ccc;
    border: 3px solid #999;
}

.create input {
    background-color: #fff;
    border: 3px solid;
}

.create .cancel {
    background-color: red;
    border: 4px solid darkred;
    color: white;
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-left: 300px;
    margin-top: 20px;

    font-size: medium;
}

.create .complete {
    background-color: gray;
    border: 4px solid dimgray;
    color: black;
    width: 80px;
    height: 30px;

    margin-top: 20px;

    font-size: medium;
}