.signup-container {
    background-color: #fff;
    width: 500px;
    padding: 70px;
    margin: 90px auto 30px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
    text-align: center !important;
}
.signup .title {
    font-size: 30px;
}
.signup hr {
    border-top: 4px solid #666;
    margin: 20px 30%;
}
.signup label {
    text-align: left;
    padding: 3px 10px;
    display: block;
    background-color: #ccc;
    width: 180px;
    margin: 0 auto;
    border: 3px solid #999;
}
.signup .check_input {
    width: 122px;
    margin-left: 0;
}
.signup input {
    background-color: #fff;
    border: 3px solid;
    padding: 3px 10px;
    width: 180px;
    margin: 8px;
}
.signup .btn {
    background-color: #fff;
    border: 3px solid;
    padding: 3px;
}
.signup .signup_button {
    background-color: #000;
    color: white;
    padding: 7px 12px;
    border: 2px solid #000;
}