.signup-container {
    background-color: #fff;
    width: 500px;
    padding: 70px;
    margin: 120px auto 30px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
    text-align: center;
}
.signup .title {
    font-size: 30px;
    margin-bottom: 30px;
}
.signup .check_input {
    width: 183px !important;
    margin-left: 0;
}
.signup input {
    box-shadow: 2px 2px 2px;
    background-color: #fff;
    border: .5px solid #C0C0C0;
    padding: 7px 15px;
    width: 150px;
    margin: 8px;
    border-radius: 3px;
}
.signup .btn {
    box-shadow: 2px 2px 2px;
    background-color: #fff;
    border: .5px solid #C0C0C0;
    padding: 7px 5px;
    margin: 8px 0 8px 8px;
    border-radius: 3px;
}
.signup .signup_button {
    background-color: #000;
    color: white;
    width: 150px;
    padding: 7px 12px;
    border-radius: 3px;
    border: 2px solid #000;
    margin-top: 30px;
}