body {
    background-image: url(../images/start.png);
    background-size: 100vw;
    background-position: top;
  }

.start {
    padding: 30px;
    height: 205vh;
    overflow: visible;
}

.start .startBtn {
    position: absolute;
    top: 1050px;
}

.start .login, .signup {
    padding: 5px;
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border-width: 7px;
    border-color: black;

    font-size: xx-large;
    font-weight: 700;
}

.start .login {
    background-color: darkorange;
    margin-right: 100px;
    margin-left: 300px;
}

.start .signup {
    background-color: forestgreen;
    margin-left: 30px;
}