body {
    background-image: url(../images/start.png);
    background-size: 100vw;
    background-position: top;
  }

.start {
    padding: 30px;
    height: 205vh;
    overflow: visible;
}

.start .startBtn {
    position: absolute;
    top: 1130px;
    left: 0;
    width: calc(50% + 250px);
    text-align: center;
}

.start .start-login, .start-signup {
    margin: 0 60px;
    border: 5px solid;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 7px;
    border-color: black;
    font-size: xx-large;
    font-weight: 700;
}

.start .start-login {
    background-color: darkorange;
}

.start .start-signup {
    background-color: forestgreen;
}