.update {
    height: 100vh;
    padding: 70px;
    background-color: #bdd7ee;
    margin-top: 60px;
}

.update .title {
    font-size: 30px;
}

.update hr {
    border-top: 4px solid #666;
    margin: 20px 30%;
}

/*.update label {
    text-align: left;
    padding: 3px 10px;
    display: inline;
    background-color: #ccc;
    width: 150px;
    margin: 0 auto;
    border: 3px solid #999;
}
*/

label {
    padding-left: 10px;
}

.a {
    width: 230px;
    margin: 0 auto;
    text-align: left;
}

.update input {
    background-color: #fff;
    border: 3px solid;
    padding: 3px 3px;
    margin: 10px 10px 10px 0px !important;
}

.update .roomname_i, .startpoint_i, .endpoint_i {
    width: 250px !important;
}

.update .totalmember_i, .startdate_i {
    width: 80px !important;
}

.update .cancel {
    background-color: red;
    border: 4px solid darkred;
    color: white;
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-left: 300px;
    margin-top: 20px;

    font-size: medium;
}

.update .complete {
    background-color: gray;
    border: 4px solid dimgray;
    color: black;
    width: 80px;
    height: 30px;

    margin-top: 20px;

    font-size: medium;
}