.update {
    height: 100vh;
    padding: 70px;
    background-color: white;
    margin-top: 60px;
    background-color: white;
}

.update .title {
    font-size: 30px;
}

.update hr {
    border-top: 4px solid #666;
    margin: 20px 30%;
}

/*.update label {
    text-align: left;
    padding: 3px 10px;
    display: inline;
    background-color: #ccc;
    width: 150px;
    margin: 0 auto;
    border: 3px solid #999;
}
*/

.update label {
    text-align: left;
    display: inline;
    background-color: #ccc;
    width: 150px;
    margin: 0 auto;
    border: 3px solid #999;
}

.update input {
    border: 3px solid;
    padding: 3px 10px;
    width: 150px;
    margin: 8px;
}

.update .roomname {
    padding: 3px 200px;
}

.update .totalmember {
    padding: 3px 30px;
}

.update .startpoint {
    padding: 3px 100px;
}

.update .endpoint {
    padding: 3px 100px;
}

.update .startdate {
    padding: 3px 100px;
}

.update .starttime {
    padding: 3px 100px;
}

.update .cancel {
    background-color: red;
    border-color: darkred;
    border-width: 4px;
    color: white;
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-left: 400px;
    margin-top: 20px;

    font-size: medium;
}

.update .complete {
    background-color: gray;
    border-color: dimgray;
    border-width: 4px;
    color: black;
    width: 80px;
    height: 30px;

    margin-top: 20px;

    font-size: medium;
}