.update {
    height: 100vh;
    padding: 70px;
    background-color: #bdd7ee;
    margin-top: 60px;
}

.update .title {
    font-size: 30px;
}

.update hr {
    border-top: 4px solid #666;
    margin: 20px 30%;
}

/*.update label {
    text-align: left;
    padding: 3px 10px;
    display: inline;
    background-color: #ccc;
    width: 150px;
    margin: 0 auto;
    border: 3px solid #999;
}
*/

.update label {
    text-align: left;
    display: inline;
    background-color: #ccc;
    /*width: 150px;
    margin: 0 auto;*/
    border: 3px solid #999;
}

.update input {
    background-color: #fff;
    border: 3px solid;
    padding: 3px 3px;
}

.update .roomname {
    padding: 3px 180px;
    margin-right: 5px;
}

.update .totalmember {
    padding: 3px 20px;
}

.update .startpoint {
    padding: 3px 93px;
    margin-right: 5px;
}

.update .endpoint {
    padding: 3px 93px;
}

.update .startdate {
    padding: 3px 84px;
    margin-right: 5px;
}

.update .starttime {
    padding: 3px 84px;
}

.update .roomname_i {
    width: 395px;
    margin: 10px 5px 10px 0px;
}

.update .totalmember_i {
    width: 75px;
    margin: 10px 0px;
}

.update .startpoint_i {
    width: 236px;
    margin: 10px 5px 10px 0px;
}

.update .endpoint_i {
    width: 236px;
    margin: 10px 0px;
}

.update .startdate_ia, .startdate_ib, .starttime_ia, .starttime_ib {
    width: 116px;
    margin: 10px 2.5px;
}

.update .cancel {
    background-color: red;
    border: 4px solid darkred;
    color: white;
    width: 80px;
    height: 30px;

    margin-right: 10px;
    margin-left: 300px;
    margin-top: 20px;

    font-size: medium;
}

.update .complete {
    background-color: gray;
    border: 4px solid dimgray;
    color: black;
    width: 80px;
    height: 30px;

    margin-top: 20px;

    font-size: medium;
}